google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
python-dotenv
flask
openai
langchain-core
langgraph
langchain-openai
langchain-anthropic
langchain-ollama
langchain
langchain_community
bs4
typing_extensions